Config/options.xsd

<?xml version='1.0'?>
<xs:schema
  xmlns:xs='http://www.w3.org/2001/XMLSchema'
  targetNamespace='http://code.google.com/p/open-zwave/'
  xmlns:Options='http://code.google.com/p/open-zwave/'
  elementFormDefault='qualified'>

 <xs:element name='Options'>
  <xs:complexType>
   <xs:sequence>
    <xs:element ref='Options:Option' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>

 <xs:element name='Option'>
  <xs:complexType>
   <xs:attribute name='name' type='xs:string' use='required'/>
   <xs:attribute name='value' type='xs:string' use='required'/>
  </xs:complexType>
 </xs:element>
</xs:schema>
